* {
    margin: 0;
    padding: 0;
}
.lost {
    background-color: black;
    color:rgba(0, 0, 0, 0);
    font-size: 12px;
}
.lost::selection {
    color:rgba(0, 0, 0, 0);
}
li {
    margin-left: 25px;
}
.main {
    width: 50%;
    margin-top: 20px;
}
.post {
    margin-bottom: 20px;
}
body {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 14px;
    overflow-x: hidden;
}
td {
    vertical-align: top;
}

article p {
    font-size: 16px;
}